@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/open-sans-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('./fonts/open-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v14-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/open-sans-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./fonts/open-sans-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v14-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/open-sans-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./fonts/open-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v14-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Open Sans';
  background-color: #FFF;
  min-width: 900px;
  margin: 0;
}

.recipe-container {
  position: relative;
  clear: both;
  padding: 3rem 10rem;
  overflow: auto;
  text-align: center;
}

.recipe-category {
  padding: 0 25px;
  text-align: right;
  margin-bottom: 15px;
  width: 100%;
  height: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  line-height: 42px;
  color: #878787;
  border-bottom: 2px solid #878787;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-md-4 {
  float: left;
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 3px 9px 1px #e6e6e6;
}

.recipe-preview-tile {
  position:absolute;
  text-align: center;
  cursor: default;
  height: 100%;
  width: 100%;
}

.recipe-description {
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  padding: 0 2%;
  color: #878787;
  text-align: left;
}

.recipe-image {
  width: 100%;
  height: 80%;
  background-size: 100%;
}

div.recipe-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2%;
  text-align: left;
  font-size: 1.2rem;
}

.recipe-detail-btn {
  cursor: pointer;
  margin: 60% auto 0 auto;
  height: 2.5rem;
  width: 30%;
  font-size: 1rem;
  min-width: 125px;
  min-height: 35px;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  color: darkorange;
}

.recipe-detail-btn:hover {
  opacity: 1;
  font-weight: 700;
}

.query-container {
  padding: 0 10rem;
}

.query-container button {
  float: right;
  text-transform: uppercase;
  border: solid 1px #878787;
  border-radius: 5px;
  color: #878787;
  line-height: 2rem;
  width: 5rem;
}

.query-container .ReactTags__tags{
  float: right;
  margin-right: 3%;
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 10px;
}
/* The top and the bottom buttons (left and right for horizontal bars) */
body::-webkit-scrollbar-button {
  background-color: transparent;
}
body::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 0, 0, 0);
}

body::-webkit-scrollbar-track {
  background-color: #F7F7F7;
  border-radius: 999em;
}
/* // This will style the thumb, ignoring the track */
body::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
  border: 1px solid #fff;
  border-radius: 999em;
}
body::-webkit-scrollbar-corner {
  background-color: transparent;
}